html {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f3f9;
  height: 100vh;
  font-family: "Muli", Arial, sans-serif;
}
.container {
  position: relative;
  width: 200px;
  height: 70px;
  /* overflow: hidden; */
}

.containerButton,
.button {
  border-radius: 10px;
  background: #1462ff;
  width: 200px;
  height: 70px;
}

.buttonContent {
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: row;
  height: 70px;
  z-index: 9;
}

.button,
.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 20px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
button {
  font-size: 1em;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button__radius {
  width: 120px;
  height: 120px;
  position: absolute;
  background: transparent;
  opacity: 0.4;
  top: calc(50% - 60px);
  right: -17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  z-index: 4;
}

.wave {
  width: 30px;
  height: 30px;
  background: lighten(#1462ff, 10%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.wave-animation {
  animation: t-wave 599ms cubic-bezier(0.77, 0.06, 0, 0.99) forwards;
}

.shake {
  animation: shake 1s cubic-bezier(0.25, 0.49, 0.2, 1);
}

@keyframes shake {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes t-wave {
  0% {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    width: 40px;
    height: 40px;
  }
  50% {
    opacity: 0.9;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    width: 140px;
    height: 140px;
  }
}
